.topbar {
    width: 100%;
    height: 75px;
    background-color: var(--primary);

    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.topLeft a {
    color: inherit;  /* 글자 색상을 상위 요소와 동일하게 설정 */
    text-decoration: none;  /* 밑줄 제거 */
}

.topbarIconContainer {
    position: relative;
    margin-right: 15px;
    color: white;
}

.topIconBadge {
    position: absolute;
    top: -5px;
    right: 5px;

    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    color: white;
}

.topRight {
    display: flex;
    align-items: center;
    gap: 12px;

    & > div {
        cursor: pointer;
    }
}

.topAvatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}