:root {
    --primary: #0452d7;
    --primary2: #6ea3ff;
    --primary3: #005eff;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

.container {
    display: flex;
}

.container > *:not(.sidebar) {
    flex: 1;
    margin-top: 25px;
}

.sidebar {
    flex: 1;
    max-width: 16%; /* 최대 넓이를 200px로 제한 */
    /* 추가적인 스타일 */
}
.home {
    background-color:white;
}